<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252a34",
      "text": "#00adb5"
    },
    "button": {
      "background": "#00adb5",
      "text": "#ffffff"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "This website uses cookies to ensure you get the best experience.",
    "dismiss": "Accept",
    "href": "/terms",
    "link": "Learn more (including how to disable)"
  }
});
</script>